<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184898934829-tvgtfr7a3trcek40v9qas8qdhflas2gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184898934829-tvgtfr7a3trcek40v9qas8qdhflas2gj</string>
	<key>API_KEY</key>
	<string>AIzaSyAlQ7LatCkDd-wsIDl12ldFmF15yoz08Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>184898934829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naokiwakata.SpartaWeightManagement</string>
	<key>PROJECT_ID</key>
	<string>sparta-weight-management</string>
	<key>STORAGE_BUCKET</key>
	<string>sparta-weight-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184898934829:ios:b282f9ee383560c6e280a4</string>
</dict>
</plist>